In [1]:
print("Hello,World!")

Hello,World!

python interpreters

Anaconda setup*

In [2]:
import pandas as pd

In [4]:
path = r"C:\Users\harsh\Desktop\OptimizingMLModelsOFSS\datasets\Balanced_credit_Risk.csv"

df = pd.read_csv(path, index_col="index") #primary key is index

df

,person_age,person_income,person_home_ownership,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status
index,,,,,,,,
0,22,59000,RENT,PERSONAL,D,35000,16.02,YES
1,25,9600,MORTGAGE,MEDICAL,C,5500,12.87,YES
2,23,65500,RENT,MEDICAL,C,35000,15.23,YES
3,24,54400,RENT,MEDICAL,C,35000,14.27,YES
4,21,9900,OWN,VENTURE,A,2500,7.14,YES
...,...,...,...,...,...,...,...,...
12401,30,102540,MORTGAGE,HOMEIMPROVEMENT,A,1500,7.90,NO
12402,24,60000,RENT,PERSONAL,B,12000,12.21,NO
12403,22,40000,RENT,EDUCATION,C,6000,12.87,NO
12404,22,50000,RENT,PERSONAL,C,8000,13.16,NO
12405,24,108000,RENT,EDUCATION,B,5000,12.69,NO

### exploratory analysis!

In [5]:
print(      f"Shape of data is  {df.shape}  "      )

Shape of data is  (12406, 8)

In [6]:
print(       f"Index of the table is:      {df.index}"      )

Index of the table is:      Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            12396, 12397, 12398, 12399, 12400, 12401, 12402, 12403, 12404,
            12405],
           dtype='int64', name='index', length=12406)

In [7]:
df.columns

Index(['person_age', 'person_income', 'person_home_ownership', 'loan_intent',
       'loan_grade', 'loan_amnt', 'loan_int_rate', 'loan_status'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12406 entries, 0 to 12405
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   person_age             12406 non-null  int64
 1   person_income          12406 non-null  int64
 2   person_home_ownership  12406 non-null  object
 3   loan_intent            12406 non-null  object
 4   loan_grade             12406 non-null  object
 5   loan_amnt              12406 non-null  int64
 6   loan_int_rate          12406 non-null  float64
 7   loan_status            12406 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 872.3+ KB

In [9]:
df.isna().sum()

person_age               0
person_income            0
person_home_ownership    0
loan_intent              0
loan_grade               0
loan_amnt                0
loan_int_rate            0
loan_status              0
dtype: int64

### real-value data
        ### min,max, mean operations are valid
        ### every row contains a value that might be between min & max for that column

### categorical data
        ### that contains a fixed number of categories. Every row contains one value from this fixed set of values

In [11]:
real_value_columns = [  'person_age', 'person_income',  'loan_amnt', 'loan_int_rate'      ]
categorical_columns = [   'person_home_ownership', 'loan_intent', 'loan_grade','loan_status']

### passing a list of column names to [          ]

### one quarter of my available data rows will show age value equal to or below 23.0

In [13]:
df[  real_value_columns     ].describe()

         person_age  person_income     loan_amnt  loan_int_rate
count  12406.000000   1.240600e+04  12406.000000   12406.000000
mean      27.594470   6.040450e+04  10187.790182      11.784964
std        6.247178   4.454757e+04   6692.722063       3.391123
min       20.000000   4.000000e+03    800.000000       5.420000
25%       23.000000   3.461550e+04   5000.000000       8.940000
50%       26.000000   5.091500e+04   8800.000000      11.830000
75%       30.000000   7.300000e+04  14000.000000      14.420000
max      144.000000   1.362000e+06  35000.000000      23.220000

In [14]:
df[   categorical_columns  ].describe(   )

       person_home_ownership loan_intent loan_grade loan_status
count                  12406       12406      12406       12406
unique                     4           6          7           2
top                     RENT     MEDICAL          B         YES
freq                    7299        2480       3550        6203